.statistics {
  width: 400px;
  background-color: white;
}

.title {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  padding-block: 30px;
  color: rgb(55, 52, 52);
}

.stats {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.label {
  font-size: 14px;
  color: white;
  padding-block: 12px 5px;
}

.percentage {
  color: white;
  padding-bottom: 12px;
}
